.top-cloud {
    position: absolute;
    top: 20px;
    left: 70%;
}

.bottom-cloud {
    position: absolute;
    right: 70%;
    top: 160px;
}

body {
    text-align: center;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
}

h1 {
    color: DarkTurquoise;
    margin: 50px auto 0;
    font-family: 'Caveat', cursive;
    font-size: 5.62em;
    font-weight: 400;
}

h2 {
    color: #66bfbf;
    margin: 40px auto 20px;
    font-weight: normal;
    font-size: 2.5rem;
    font-family: 'monsterrat', sans-serif;
}

h3 {
    color: #11999E;
    font-size: 1.0rem;
    font-family: 'monsterrat', sans-serif;
}

a {
    text-decoration: none;
    color: #11999E
}

hr {
    margin: 50px auto;
    border-style: none none dotted;
    border-color: #c0c0ff;
    border-width: medium;
    height: 2px;
    width: 11%;
}

.top-container {
    padding-top: 100px;
    background-color: #eaf6f6;
    position: relative;
}

.middle-container {
    margin-bottom: 20px;
}

.bottom-container {
    background-color: #66bfbf;
    height: 10vh;
    color: white;
    padding-top: 10px;
}

.copyrght {
    margin-top: 30px;
    margin-bottom: 1px;
}

.profile-pic {
    margin-top: 50px;
    width: 120px;
    border-radius: 50%;
}

.horse-img {
    width: 100px;
}

.avid {
    color: #66bfbf;
    margin: 2px auto 25px;
    font-weight: normal;
    font-size: 1.5rem;
    font-family: 'monsterrat', sans-serif
}

/*.btn {}*/
.prog-img {
    width: 250px;
}
